* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

/* navigation */
.nav-main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #111317;
  color: #a1a6af;
  font-size: 8px;
  height: 40px;
  font-weight: 500;
  width: 100%;
  position: absolute;
  z-index: 99;
}

.nav-section {
  height: 100%;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 14px;
  padding-right: 14px;
}

.logo-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;
}

.logo {
  width: 130px;
  height: 16px;
  margin-right: 20px;
}

.link-section {
  display: flex;
  align-items: center;
}

.link {
  padding: 7px;
}

.link:hover {
  color: white;
}

.log-section {
  display: flex;
  align-items: center;
}

.space {
  margin: 10px;
}

.down-arrow {
  margin-left: 4px;
}

.new {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #00be30;
  font-size: 6px;
  height: 10px;
  width: 15px;
  margin-left: 3px;
}
.new-link {
  display: flex;
  align-items: center;
}

.btn {
  border-radius: 3px;
  width: 40px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
}

.btn,
.lang:hover {
  color: white;
}
.log-in {
  border: 1px solid #a1a6af;
}

.sign-up {
  background-color: #01c999;
  color: white;
}

/************************/

.main_section {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.main-background_div {
  width: 100%;
  height: 800px;
  background-color: #421983;

}

.position {
  position: absolute;
  width: 400px;
  z-index: 2;
}

.purple-round {
  top: -100px;
  right: -70px;
}

.green-round {
  top: 250px;
  left: 0px;
}

.main_center-section {
  position: absolute;
  top: 0px;
  left: 150px;
  z-index: 97;
  width: 800px;
  margin: 0 auto;
  /* background-color: #11131734; */
}

/* ***********************/
.index-section {
  margin-top: 100px;
  color: white;
  text-align: center;
}

.index_title {
  font-size: 25px;
  font-weight: 600;
  color: white;
  text-align: center;
  margin-bottom: 30px;
}

.index-subtitle {
  font-size: 12px;
  margin-top: 12px;
  line-height: 20px;
}

.search-section {
  width: 100%;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-btn-block {
  width: 55%;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-conutry-block {
  display: flex;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.input-conutry-block input {
  outline: none;
  border: none;
  width: 75%;
  border-right: 1px solid #a1a6afda;
  font-size: 9px;
  border-radius: 4px 0px 0px 4px;
}

.input-conutry-block input::placeholder {
  color: #9ea3ac;
  padding-left: 10px;
}

.conutry-block {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  font-size: 10px;
  width: 70px;
  color: #a1a6af;
  border-radius: 0px 4px 4px 0px;
}

.conutry {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.conutry i {
  color: #a1a6af;
}

.btn-block {
  background-color: #ff622d;
  height: 100%;
  width: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
}

/**********************/

.clients-section {
  margin-top: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.clients-section p {
  color: rgba(255, 255, 255, 0.63);
  font-size: 10px;
  font-weight: 400;
}

.clients-logo_section {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

.client-logo {
  margin-top: 15px;
}

.clients-section img {
  height: 22px;
  opacity: 80%;
}

/***** features section  ****/

.features-section {
  margin-top: 40px;
}

/********************/

.quote_main-section {
  width: 100%;
  height: 2235px; /*  adject   */
  background-color: white;
  position: relative;
}

.message-svg {
  width: 400px;
  position: absolute;
  top: -140px;
  right: 170px;
}

/* *****features section *****/

.features-card {
  color: #48494b;
  width: 86%;
  background-color: white;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 20px;
  padding: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.features-options {
  /* background-color: black; */
  width: 100%;
  display: flex;
  justify-content: center;
}

.features {
  padding: 5px 10px;
  width: 145px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  font-size: 9px;
  font-weight: 500;
  color: #8e9096;
}

.icon ion-icon {
  font-size: 24px;
  margin-bottom: 15px;
}
.notice {
  width: 100%;
  height: 3px;
  border-radius: 5px;
  background-color: #a1a6af25;
}

.active-notice {
  background-color: #421983a9;
}

.features:hover {
  color: #421983a9;
}

.features-name {
  margin-bottom: 10px;
}
.features-options {
  display: flex;
  justify-content: center;
  align-items: center;
}
/*********************/

.feature-slider {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
}

.feature-content {
  width: 40%;
  font-size: 12px;
  line-height: 20px;
}

.feature-box {
  padding: 5px;
}

.features-index {
  display: flex;
  flex-direction: column;
}

.feature-content h3 {
  font-size: 18px;
  margin-bottom: 15px;
}

.features-index li {
  font-size: 10px;
  margin-left: 10px;
}

.features-image {
  display: flex;
  align-items: center;
}

.orange-btn {
  background-color: #ff622d;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 9px;
  font-weight: 500;
  color: white;
  border-radius: 4px;
  height: 30px;
}

.btn-feature {
  width: 130px;
  margin-top: 35px;
}

.quote {
  margin-top: 60px;
  font-size: 24px;
  text-align: center;
}

.quote-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64%;
  margin: 0 auto;
}

.writter-img {
  display: block;
  margin: 0 auto;
}

.writter-profile {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.name-writter {
  margin-top: 8px;
  font-size: 12px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.76);
}

.position-writter {
  margin-top: 5px;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.808);
}

.source-writter {
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.616);
  font-size: 9px;
}

.bottom_quote-block {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  margin: 0 auto;
  line-height: 30px;
}

/*************************/

.awards_list {
  width: 80%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 100px;
}

.award-block {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.third-award {
  padding-top: 30px;
}

.award-num {
  font-size: 30px;
  margin: 5px 0;
}

.award-heading {
  font-size: 12px;
  margin: 4px 0;
  font-weight: 700;
}

.award-note {
  font-size: 12px;
  margin: 5px 0;
  font-weight: 300;
}

.sticker {
  width: 45px;
  position: absolute;
  z-index: -1;
}

.diamond-txt {
  top: 20px;
  right: 65px;
}
.star-txt {
  top: -2px;
  right: 60px;
}

.love-txt {
  top: -2px;
  right: 50px;
}

/*************************/

.status-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 150px;
  color: rgba(0, 0, 0, 0.753);
}

.status-wrapper {
  width: 80%;
  display: flex;
  margin: 0 auto;
  position: relative;
}

.btn-status {
  width: 120px;
}

.status-bars {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 10px;
}

.status-bar {
  width: 120px;
  height: 80px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
}
.status-bar h1 {
  font-size: 22px;
}
.status-bar p {
  font-size: 10px;
  margin-top: 5px;
}
.status-content-block {
  margin-right: 50px;
}
.status-content-block p {
  font-size: 12px;
  margin-top: 20px;
  line-height: 18px;
  margin-bottom: 30px;
}
.status-content-block h1 {
  font-size: 25px;
}

.static-img {
  position: absolute;
  z-index: -1;
  width: 300px;
  top: -70px;
  right: -55px;
}

/****** ceo section *****/

.hat-section {
  width: 80%;
  /* background-color: #00be30; */
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.ceo-img_section {
  display: inline-block;
  margin-right: 20px;
}

.hat-content h1 {
  margin-top: 100px;
  font-size: 25px;
}

.hat-content p {
  margin: 10px 0;
  font-size: 10px;
}
.hat-offers {
  text-align: start;
  width: 95%;
  margin-top: 10px;
  margin-bottom: 15px;
}
.hat-list_item {
  font-size: 9px;
  color: rgba(0, 0, 0, 0.918);
  display: flex;
  justify-content: start;
  margin: 6px 0;
  line-height: 15px;
  font-weight: 300;
}

.har-content_center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hat-list_item ion-icon {
  color: #ff632f;
  font-size: 14px;
}

.hat-checked {
  padding-right: 8px;
}

.hat-btn {
  width: 250px;
}

/**************************/

.marketers-section {
  margin: 0 auto;
  margin-top: 120px;
  width: 90%;
  /* background-color: #00be30; */
  display: flex;
  justify-content: center;
}

.marketers-wrapper {
  /* background-color: #01c999; */
  width: 80%;
}

.img-love {
  display: inline-block;
  padding: 5px;
}

.marketers-section h1 {
  font-size: 24px;
  text-align: center;
}

.marketers-header {
  margin-bottom: 30px;
}

.market-features {
  display: flex;
  justify-content: space-evenly;
  font-size: 10px;
}

.market-feature {
  background-color: white;
  border: 1px solid #5e60634b;
  padding: 7px 12px;
  border-radius: 10px;
}

.colored-feature {
  color: white;
  background-color: #421983;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}

.market-feature:hover {
  border: 1px solid #421983;
  cursor: pointer;
}

/******  slider section *******/

.slider-section{
  background-color:#c9edff;
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  margin-top: 25px;
  margin-bottom: 150px;

}

.slider-container{
  padding:40px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-arrow_secton{
  display: flex;
  width: 180px;
  align-items: center;
  justify-content: space-between;
}

.slider-number{
  font-size: 12px;
  font-weight: 600;
  color: #333333;
}

.right-arrow, .left-arrow{
  font: 12px;
  color: #5254588a;

}

.profile_details{
  text-align: center;
}


.slider-image{
  margin-top: 25px;
  border-radius: 50%;
  border: 1px solid white;

}

.slider-profile_name{
  font-size: 10px;
  color:#1c1c1d;
  font-weight: 600;
  margin: 4px 0;
}

.slider-profile_position{
  font-size: 10px;
  color:#5254588a;
  margin: 5px 0;
}


.slider-header{
  margin-top: 30px;
  font-size: 18px;
  color: #111317cb;
  text-align: center;
  width: 100%;
}

/**************************/

.start-trial_section{
  width: 100%;
  background-color: #421983;
  height: 190px;
  margin-top: 50px;
}

.footer_section{
  width: 100%;
  background-color:#111317;
  height: 270px;
}

/******************************/

.free-trial_section{
  color: white;
  /* background-color: #00be30; */
  height: 190px;
  padding: 40px 0;
}

.trial-details{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trail-header{
  font-size: 25px;
  margin-bottom: 12px;
}

.trial-details p{
  font-size: 12px;
}

.trial-btn{
  margin-top: 20px;
  width: 200px;
}

/******************************/

.footer-main_center{
  
  width: 60%;
  margin: 0 auto;
  height: 300px;
}


.contact-data_block{
  /* background-color: #01c999; */
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  padding-top: 20px;
  color: #898d9a;

  
}

.left-contact{
  border: 1px solid #898d9a;
  font-size: 8px;
  font-weight: 500;
  padding: 6px 30px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.left-contact ion-icon{
  margin-right: 4px;
   color: #898d9a;
   font-size: 12px;
}



.get-start-btn{

  background-color: #01c999;
  color: rgba(255, 255, 255, 0.918);
  font-weight: 600;
  padding: 8px 20px;
  width: 200px;
  border-radius:4px ;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px; 
  margin-top: 20px;
}

.right-contact a{
  display: block;
  margin-top: 6px;
  text-align: center;
  text-decoration: none;
  text-decoration: underline;
  color: #898d9a;
  font-weight: 500;
  font-size: 8px; 
  
}


.usa-data{
  font-size: 7px;       
  padding-right: 75px;       
}


.footer-menu{
  color: #898d9a;
  font-size: 7px;
  display: flex;
  justify-content: space-around;
}

.footer-meanu_element{
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.footer-meanu_element h4{
   color: white;
   margin: 6px 0;  
}

.footer-meanu_element li{
  list-style-type: none;  
  margin-bottom: 4px;
  font-size: 7px;
}

.social-block{
  display: flex;
  justify-content: space-evenly;
}

.social-set{
  display: flex;
  justify-content:start;
  margin-bottom: 4px;
}
.social-icon_block{
  padding-right: 5px;
}

.copywrite-section{
  background-color:black;
  height: 40px;
}

.copyright-center_section{
  padding-top:10px ;
  width: 60%;
  margin: 0 auto;
  display: flex;
}

.logo-footer{
  width: 120px;
  padding-right: 20px;
}

.copyright-year{
  font-size: 6px;
  color: rgba(255, 255, 255, 0.904);
  display: flex;
  justify-content: center;
  align-items: center;
}